body {
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

h3{
    color: #727272;
}

h4{
    color: #727272;
    font-size: small;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color:#727272;

}

.parent{
  display: flex;
  flex-direction: row;
  gap: 10px ;
  align-items: center;
    justify-content: center;
}

.firstbox {
    
    height:auto;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 5px 10px 18px #727272;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.image{
    flex: 1 1 auto;
    
}

.text{
    
    text-align: justify;
}

.secondbox {
    
    height:auto;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 5px 10px 18px #727272;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.thirdbox {
    
    height:auto;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 5px 10px 18px #727272;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.link--cv {
    font-size: 10px;
    color:#727272; 
}